.split ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  .split li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }
   
  .split li:last-child {
    border: none;
  }
   
  .split li a {
    text-decoration: none;
    color: #000;
    display: block;
   
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  .split li a:hover {
    font-size: 30px;
    background: #f6f6f6;
  }

  /* Split the screen in half */
.split {
    height: 100%;
   
    position: fixed;
  
    top: 0;
    overflow-x: hidden;
    padding-top: 0;
    margin-top:4%;
  }
  
  /* Control the left side */
  .left {
    width: 25%;
    left: 0;
    background-color: white;
  }
  
  /* Control the right side */
  .right {
    width: 75%;
    right: 0;
    background-color: cornsilk;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  